#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header-1 {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
  color: #61dafbaa;
}
.header-1:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #61dafbaa;
}

.film-item {
  width: 14rem !important;
  cursor: pointer;
  min-width: 5rem;
}
.pagination__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
